test-src
test-out
un-EXIF-tense.sh.BACKUP
test-main.sh
test-in
.gitignore
configs/ARGFILES/20226-04-14 backup before edits.zip
configs/ARGFILES/argfile ez template snips.sh
configs/ARGFILES/SERIES05-SAME.AS.SERIES01.BUT.LEAVES.FILENAME.AS.HASHVALUE.SORTS.INTO.FOLDERS.THO