setDefaults() {

	###############################################################################
	#* USER FACING VARIABLES ######################################################
	#* YOU CAN SET DEFAULT OPTIONS FOR COMMAND LINE SWITCHES BELOW
	###############################################################################
	_SRCDIR_=""
	_DSTDIR_=""
	_hashALGO_="SHA512"
	_XMPFunction_="True"
	_RECURSE_="True"
	_QT_UTC_=0
	_KEEPName_="True"
	_TESTMODE_="False"
	_TESTMODERESET_="False"
	_VIDEOS_="True"
	_PHOTOS_="True"
	###############################################################################
	#* USER CONFIG: VERBOSITY AND DEBUG MISC OPTIONS
	###############################################################################
	_DEBUG_="False"

	_VERBOSE_="False"
	vLVL=0 # Verbosity level for exiftool when set to true.
	# Verbose overrides quiet mode, Verbose 0 exiftool prints current filename only.

	#! DEBUG SLEEP TIMER, TIME BETWEEN COMMANDS TO DEBUG ONSCREEN INFO
	# Can also be "wait" to wait for keypress
	sTIMER="wait"
	#sTIMER=".5"
	###############################################################################
	
	
	###############################################################################
	#* USER CONFIG: EXTENSION LISTS FOR TYPES OF FILES YOU WANT THIS SCRIPT TO DEAL WITH
	###############################################################################
	#! PHOTO EXTENSION LIST
	declare -g -a EXTList_Photos=("webp" "dng" "jpg" "heic" "png" "gif" "bmp" "tiff" "tif")

	#! VIDEO EXTENSION LIST
	declare -g -a EXTList_Videos=("mov" "mp4" "mpg" "3gp" "wmv" "webm" "avi" "m4v")
	###############################################################################
	
	
	###############################################################################
	#* USER CONFIG: EXIFTOOL SETTINGS
	###############################################################################
	# IF PRESENT IN YOUR PATH, SIMPLY LIST AS "exiftool"
	exiftoolPATH="/usr/bin/exiftool"
	
	exiftoolCONFIG="$SCRIPT_DIR/un.exif.tense.Exiftool_config"
	
	# WHEN USING KEEPING NAME OPTION, CAN USE THIS AS A SEPERATOR, TEMPLATE DEPENDENT
	exifToolBaseNameSeperator="___"
	###############################################################################
	
	
	###############################################################################
	#* USER CONFIG: VARLIST & ARGFILES CONFIGURATION SETTINGS
	###############################################################################

	#! BASE PATH TO VARIABLE CONFIG LIST
	f_externalVarlist="$SCRIPT_DIR/un.exif.tense.VARLIST"


	#! BASE PATH TO ARGFILE TEMPLATES
	ARGFiles_PATH="$SCRIPT_DIR/ARGfiles/SERIES01"
	
	
	###############################################################################
	# ARGFILE TEMPLATE NAMES (FILENAMES)
	# List of argfile filenames in ARGFiles_PATH to run in the order you wish to run them.
	
	# Can be formatted like this, all in one declaration, or one by one, or a mix.
	# declare -a TESTMODEARGFileTemplatesList=("TEMPLATE-01" "TEMPLATE-02")
	
	declare -g -a ARGFileTemplatesList=()
	ARGFileTemplatesList+=("TEMPLATE_S01-P01_MIGRATE-XMP-TO-EXT.XMP.argfile.sh")
	ARGFileTemplatesList+=("TEMPLATE_S01-P02_CREATE.XMP.argfile.sh")
	ARGFileTemplatesList+=("TEMPLATE_S01-P03_MOVE-RENAME-XMPSIDECARS.argfile.sh")
	ARGFileTemplatesList+=("TEMPLATE_S01-P04_MOVE-RENAME-MEDIAFILES.argfile.sh")
	#ARGFileTemplatesList+=("")
	
	#echo -e "Templates active:${ARGFileTemplatesList[@]}\n"
	# TODO ADD FILE EXISTENCE CHECK FOR TEMPLATES
	###############################################################################
	
	
	
	###############################################################################
	#* USER CONFIG: TESTMODE CONFIGURATION
	###############################################################################
	# Alternate list of argfile templates to be used in TESTMODE.
	declare -g -a TESTMODEARGFileTemplatesList=()
	
	TESTMODEARGFileTemplatesList+=("TEMPLATE_S01-P01_MIGRATE-XMP-TO-EXT.XMP.argfile.sh")
	TESTMODEARGFileTemplatesList+=("TEMPLATE_S01-P02_CREATE.XMP.argfile.sh")
	TESTMODEARGFileTemplatesList+=("TEMPLATE_S01-P03_MOVE-RENAME-XMPSIDECARS.argfile.sh")
	TESTMODEARGFileTemplatesList+=("TEMPLATE_S01-P04_MOVE-RENAME-MEDIAFILES.argfile.sh")
	
	#echo -e "Templates active for TESTMODE (if active): ${TESTMODEARGFileTemplatesList[@]} \n"

	###############################################################################
	# TESTMODE FOLDERS AND PATHS
	# THESE ARE RELEVENT WHEN -t (testmode) or -T switch (testmode reset) is enabled.
		
	# Define folders for test mode usage.
	# DATA The folder containing the original media that is copied to the IN dir.
	TESTMODE_data="$SCRIPT_DIR/test-src"
	
	# IN is where photos and vids will be copied and processed.
	TESTMODE_in="$SCRIPT_DIR/test-in"
	
	# OUT is destination after processing.
	TESTMODE_out="$SCRIPT_DIR/test-out"
	###############################################################################
	###############################################################################


}