#!/bin/bash

###############################################################################
#* USER FACING VARIABLES ######################################################
#* YOU CAN SET DEFAULT OPTIONS FOR COMMAND LINE SWITCHES BELOW
###############################################################################
SRCDIR=""
DSTDIR=""
hashALGO="SHA512"
XMPFunction="True"
RECURSE="True"
QT_UTC=0
KEEPName="True"
TESTMODE="False"
TESTMODERESET="False"
VIDEOS="True"
PHOTOS="True"
###############################################################################
#* USER CONFIG: VERBOSITY AND DEBUG MISC OPTIONS
###############################################################################
DEBUG="False"

VERBOSE="False"
vLVL=2 # Verbosity level for exiftool when set to true.
# Verbose overrides quiet mode, Verbose 0 exiftool prints current filename only.

#! DEBUG SLEEP TIMER, TIME BETWEEN COMMANDS TO DEBUG ONSCREEN INFO
#! Can also be "wait" to wait for keypress
sTIMER="wait"
#sTIMER=".5"

#* TEMP FOLDER,  ONLY CHANGE THE  TMPDIR IF YOU DON'T WANT TO USE THE DEFAULT OF "/run/user/$YOURUSERID/"
TMPDIR=""
Cleanup_TempFiles="False"
timer_TempFileCleanup="5"
saveFilesDest_REFTEMPLATE="${SCRIPT_DIR}/configs/ARGFILES/REFERENCE-Templates"


###############################################################################

###############################################################################
#* USER CONFIG: EXTENSION LISTS FOR TYPES OF FILES YOU WANT THIS SCRIPT TO DEAL WITH
###############################################################################
#! PHOTO EXTENSION LIST
declare -g -a EXTList_Photos=("webp" "dng" "jpg" "heic" "png" "gif" "bmp" "tiff" "tif")

#! VIDEO EXTENSION LIST
declare -g -a EXTList_Videos=("mov" "mp4" "mpg" "3gp" "wmv" "webm" "avi" "m4v")
###############################################################################

###############################################################################
#* USER CONFIG: EXIFTOOL SETTINGS
###############################################################################
# IF PRESENT IN YOUR PATH, SIMPLY LIST AS "exiftool"
exiftoolPATH="/usr/bin/exiftool"

#/fixd-toolkit/scripts/scripts.FILE-ORGANIZATION/Un.EXIFTense/un.exiftense.exiftoolconfig
exiftoolCONFIG="${SCRIPT_DIR}/configs/exiftool.configs/un.exiftense.exiftoolconfig"

# WHEN USING KEEPING NAME OPTION, CAN USE THIS AS A SEPERATOR, TEMPLATE DEPENDENT
exifToolBaseNameSeperator="___"
###############################################################################

###############################################################################
#* USER CONFIG: VARLIST & ARGFILES CONFIGURATION SETTINGS
###############################################################################

#! BASE PATH TO VARIABLE CONFIG LIST
f_externalVarlist="${SCRIPT_DIR}/configs/VARLISTS/VARLIST"


###############################################################################
# ARGFILE TEMPLATE NAMES (FILENAMES)
#! BASE PATH TO ARGFILE TEMPLATES
ARGFiles_PATH="${SCRIPT_DIR}/configs/ARGFILES/SERIES01"

#* Define the ARGFILE extension
# ARGFile_EXT="argfile.sh"


# List of argfile filenames in ARGFiles_PATH to run in the order you wish to run them.
# Can be formatted like this, all in one declaration, or one by one, or a mix.
# declare -a TESTMODEARGFileTemplatesList=("TEMPLATE-01" "TEMPLATE-02")
#! If not specified,  will load all files in the $ARGFiles_PATH that match $ARGFile_EXT

declare -g -a ARGFileTemplatesList=()
ARGFileTemplatesList+=("S01-P01_MIGRATE-XMP-TO-EXT.XMP.argfile.sh")
ARGFileTemplatesList+=("S01-P02_CREATE.XMP.argfile.sh")
ARGFileTemplatesList+=("S01-P03_MOVE-RENAME-XMPSIDECARS.argfile.sh")
ARGFileTemplatesList+=("S01-P04_MOVE-RENAME-MEDIAFILES.argfile.sh")
#ARGFileTemplatesList+=("")

#echo -e "Templates active:${ARGFileTemplatesList[@]}\n"
# TODO ADD FILE EXISTENCE CHECK FOR TEMPLATES
###############################################################################

###############################################################################
#* USER CONFIG: TESTMODE CONFIGURATION
###############################################################################
# Alternate list of argfile templates to be used in TESTMODE.
declare -g -a TESTMODEARGFileTemplatesList=()

TESTMODEARGFileTemplatesList+=("S01-P01_MIGRATE-XMP-TO-EXT.XMP.argfile.sh")
TESTMODEARGFileTemplatesList+=("S01-P02_CREATE.XMP.argfile.sh")
TESTMODEARGFileTemplatesList+=("S01-P03_MOVE-RENAME-XMPSIDECARS.argfile.sh")
TESTMODEARGFileTemplatesList+=("S01-P04_MOVE-RENAME-MEDIAFILES.argfile.sh")

#echo -e "Templates active for TESTMODE (if active): ${TESTMODEARGFileTemplatesList[@]} \n"

###############################################################################
# TESTMODE FOLDERS AND PATHS
# THESE ARE RELEVENT WHEN -t (testmode) or -T switch (testmode reset) is enabled.

# Define folders for test mode usage.
# DATA The folder containing the original media that is copied to the IN dir.
TESTMODE_data="${SCRIPT_DIR}/test-src"

# IN is where photos and vids will be copied and processed.
TESTMODE_in="${SCRIPT_DIR}/test-in"

# OUT is destination after processing.
TESTMODE_out="${SCRIPT_DIR}/test-out"
###############################################################################
###############################################################################
